<% if params['zip'].present? %>
	<% @data = engine(params['zip']) %>
	<% if @data.include? "Error" %>
		<h1>Stargazr</h1>
		<%= @data %>
	<% else %>
		<h1>Stargazr Forecast for <%= params['zip'] %></h1>
		<p>
			Location: <%= @data['location'] %><br>
		</p>

		<% @line_data = {} %>
		<% @data.each do | key, value | %>
			<% unless key == "location" or key == "sunset" or key == "sunrise" %>
				<% value.each do | k, v | %>
					<% unless k == "label"
						@line_data[v['timestamp']] = v['total_score']
					end %>
				<% end %>
			<% end %>
		<% end %>

		<p>
			<%= line_chart(@line_data) %>
		</p>

		<% @line_data = @line_data.sort_by{|k,v| v} %>
		<% @line_data.reverse!.first(5).each do | key, value | %>
			<p>
				Time: <%= key.strftime("%e %B %Y %l:%M%P") %><br>
				Score: <%= value %>
			</p>
		<% end %>
	<% end %>
<% else %>
	<h1>Stargazr</h1>
<% end %>

<%= form_tag root_path do %>
  <%= text_field_tag :zip %>
  <%= submit_tag "Go!" %>
<% end %>