<h1>Stargazr</h1>

<% if params['zip'].present? %>
	<% @data = run_main(params['zip']) %>
	<% if @data.include? "Error" %>
		<%= @data %>
	<% else %>
		<p>
			Location: <%= @data['location'] %><br>
		</p>

		<% @data.each do | key, value | %>
			<% unless key == "location" or key == "moonphase" or key == "sunset" %>
				<p>
					Date: <%= value['label'] %><br>
					Sunset: <%= @data['sunset'] %>PM<br>
					Moon phase: <%= @data['moonphase'] %>
				</p>
				<% value.each do | k, v | %>
					<% unless k == "label" %>
						<p>
							Time: <%= v['label'] %><br>
							Humidity: <%= v['humidity'] %>%<br>
							Cloud Cover: <%= v['cloud_cover'] %>%<br>
							Temperature: <%= v['temperature'] %>F<br>
							Wind: <%= v['wind'] %>mph<br>
							Precipitation: <%= v['precipitation'] %>% chance<br>
						</p>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
<% end %>

<%= form_tag root_path do %>
  <%= text_field_tag :zip %>
  <%= submit_tag "Go!" %>
<% end %>

<%= debug(params) %>